<!DOCTYPE html>
<html lang="fr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}MediaThales{% endblock %}</title>
  {{ encore_entry_link_tags('app') }}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
  {% block stylesheets %}
  {% endblock %}
  {% block javascripts %}
    <script>
    </script>
  {% endblock %}
</head>

{% block body %}
  <body>
  {% block header %}
    <header>
      {{ include('base/navBar.html.twig') }}
    </header>
  {% endblock header %}
  <div id="main" style="height: 100%">
    <div class="container-perso">
      <h1>Gestion des genres</h1>
      <table id="example" class="table-responsive table table-striped">
        <thead>
        <tr>
          <th class="hideData">Id</th>
          <th class="hideData">Libelle</th>
        </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
          <tr>
            <td>{{ genre.id }}</td>
            <td>{{ genre.libelle }}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Id</th>
          <th>Libelle</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  </body>
{% endblock %}
{% block footer %}
  {{ include('base/footer.html.twig') }}
{% endblock footer %}
{{ encore_entry_script_tags('app') }}
</html>
