{% extends 'base/base.html.twig' %}
{% block title %}Connexion{% endblock title %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
<body>
<div class="row m-0 h-100">
    <div class="col p-0 text-center d-flex justify-content-center align-items-center display-none">
        <img data-aos="fade-right" src="{{ asset('build/images/logo_mediathalesWS.png') }}" class="w-100" alt="logo en grand">
    </div>
    <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">
        <form class="w-75" action="{{ path('security_login') }}" method="post" >
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-3">
                <i class="fas fa-user"></i>
                <label for="exampleFormControlInput1" class="form-label">Utilisateur</label>
                <input value="{{ last_username }}" type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="utilisateur"
                       required>
            </div>
            <div class="mb-3">
                <i class="fas fa-lock"></i>
                <label for="exampleFormControlInput2" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="password"
                       required name="password">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Keep me logged in
                        </label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-outline-light btn-lg btn-block mt-3">Connexion</button>
        </form>
    </div>
</div>
</body>
{% endblock body %}
{% block footer %} {% endblock footer %}
